/* ALICE VOID - 6/2/23 */
:root {
    --accent: #12EFDD;
    --pagebg: #1224EF;
    --selection: #f20b99;
    --sectionbg: #e0bcc5;
    --header-color: #6F12EF;
    --header2-color: #440ab1;
    --linkbg: #00fc7e;
    --text-color: #000000;
}

HTML {
    background: var(--pagebg);
    background-image: url(1103.png);
    font-family: '000webfont';
    font-size: 15px;
    animation: scrollBackground 16s linear infinite;
    

}

body {
    margin: 0px;
    height: 100%;
}

h1 {
    color: var(--accent);
    font-size: 2.2em;
}

h2 {
    color: var(--accent);
    font-size: 1.8em;
}

h3 {
    color: var(--accent);
    font-size: 1.6em;
}

h4 {
    color: var(--accent);
    font-size: 1.4em;
}

p {
    font-size: 1em;
}

hr {
    border: 0.2em dashed #00ff84;
    opacity: 0.5;
    overflow: auto;
    width: 9em;
    height: 0;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

img {
    max-width: 100%;
    /*
    display: inline-block;
    max-height: 185px;
    width: auto;
    margin: 0 auto;
    border: 2px solid transparent;
    */
}

marquee {
    background-color: #000000;
    background-image: url(1108.png);
    background-position: 0.8em;
    width: 100%;
    height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0;
    direction: left;
    position: fixed;
    bottom: 0;
}

a:link {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(103%, 103%);
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.header {
    /* Thank you Ivy Synth-Thetic <3 */
    position: sticky;
    top: 0;
    margin: auto;
    color: var(--header-color);
    background: var(--accent);
    font-size: 5em;
    line-height: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0;
    height: 1.4em;
    width: 100%;
    z-index: 9999;
}

.header a, .header a:visited {
    color: var(--header-color);
    margin-left: 0.8em;
    margin-right: 0.8em;
}

.tabs {
    display: grid;
    text-align: justify;
    font-size: 0.3em;
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.4em;
    padding-bottom: 0;
}

.content {
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20em;
    padding-top: 1.4em;
    padding-bottom: 10em;
    max-width: 60em;
    margin: auto;
    position: relative;
}

.r_weird {
    background-color: var(--header-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    left: 7em;
    top: 2.5em;
    padding: 3em;
    width: 23em;
    height: auto;
    border-radius: 0.5em;
    margin: auto;
    position: relative;
}

.l_weird {
    background-color: var(--header2-color);
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    right: 3em;
    top: 0.5em;
    padding: 3em;
    width: 27em;
    height: auto;
    border-radius: 0.5em;
    margin: auto;
    position: relative;
}

.l_weirder {
    background-color: var(--header2-color);
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    right: 1em;
    top: 0em;
    padding: 3em;
    width: 50em;
    height: auto;
    border-radius: 0.5em;
    margin: auto;
    position: relative;
}

.r_bottom {
    background-color: var(--header-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    left: 0;
    top: -1.5em;
    padding: 3em;
    width: 40em;
    height: auto;
    border-radius: 0.5em;
    margin: auto;
    position: relative;
}

.linkslist {
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    margin: auto;
    display: block;
}

.footwrap {
    width: 100%;
    bottom: 0;
    position: fixed; 
}

.links {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-size: 1.4em;
    width: 100%;
    height: 0.8em;
    position: relative;
}

.footer {
    /* Thank you Ivy Synth-Thetic <3 */
    color: var(--header-color);
    background: var(--accent);
    opacity: 1;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    width: 100%;
    height: 5.3em;
    text-align: justify;
    font-size: 1.1em;
    position: relative;
    overflow: auto;
}

.footer a {
    color: var(--header-color);
}

.footer p {
    padding-bottom: 0.5em;
    margin: 0;
}

.caseMenu {
    background-image: url(blurryskeleton.png);
    background-size: cover;
    width: auto;
    height: 30em;
    border: 0.1em solid var(--accent);
    border-radius: 0.25em;
    padding: 1em;
}

.caseShowcase {
    position: relative;
    width: auto;
    height: 30em;
    bottom: 1em;
    padding: 1em;
    overflow: hidden;

}

.Lootcrate {
    width: 15em;
    height: 12em;
    position: absolute;
    cursor: grab;
}

.caseSetting {
    width: 95%;
    height: 7em;
}


@font-face {
    font-family: '000webfont';
    src: url(https://cinni.net/fonts/basiic.ttf);
}

::selection {
    background: var(--sectionbg);
    color: var(--selection);
}

/* Rainbow Color Animation */
@keyframes rainbow {
    0% {
        color: darkviolet;
    }

    10% {
        color: indigo;
    }

    20% {
        color: blue;
    }

    30% {
        color: aquamarine;
    }

    40% {
        color: lime;
    }

    50% {
        color: yellow;
    }

    60% {
        color: orange;
    }

    70% {
        color: red;
    }

    80% {
        color: pink;
    }

    90% {
        color: violet;
    }

    100% {
        color: magenta;
    }
}

/* background scrolling infinitely thingy */
@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 450px 516px;
    }

}

/* marquee scrolling infinitely thingy */
@keyframes scrollMarquee {
    from {
        background-position: 300px 300px;
    }

    to {
        background-position: 0 0;
    }

}

/* Mobile only (NOT UPDATED YETTTT) */
@media only screen and (max-width:699px) {
    .nomobile {
        display: none !important;
    }

    #html, #body {
        width: 100%;
    }

    .header {
        position: fixed;
        width: 100%;
    }
    
    .footer { 
        width: 100%;
    }

    .footwrap {
        width: 100%;
    }

    .content {
        padding-top: 10em;
        max-width: 95%;
    }

    .l_weird, .r_weird {
        width: 100%;
    }

    /*
        

    #navbar {
        width: 100%;
        margin: auto;
    }

    .content {
        max-width: 95%;
    }

    .r_weird {
        left: 4%;
        width: 80%;
        height: 60%;
    }

    .l_weird {
        right: 4%;
        width: 80%;
        height: 60%;
    }

    
    */
}
